/* Estilização do Menu */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    padding: 8px 0; /* Aumenta o padding do menu */
}
#menu-h ul{
    list-style: none;
    padding: 0;
    background: linear-gradient(120deg,#3acbf0 0%, #8bb0ff 100%);
    border-radius: 10px;        
}
#menu-h ul li{
    display: inline;
    font-family: 'Open Sans', sans-serif; 
    border-color: black; 
    border: 10px;       
}
#menu-h ul li a{
    color: black;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s      
}
#menu-h ul li a:hover{
    background-color: rgb(24,139,233);
}
.preview-image {
    border-radius: 8px;
    object-fit: cover;
}